<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6_nWXUuGDqrNr0NgQy5XkFdNsBaGv1lg</string>
	<key>GCM_SENDER_ID</key>
	<string>914736784954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomclone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zoomclone-bc04b</string>
	<key>STORAGE_BUCKET</key>
	<string>zoomclone-bc04b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914736784954:ios:edb8b52c7a4ca8d491b703</string>
</dict>
</plist>